name: Publish to pub.dev

on:
  push:
    tags:
    - 'v[0-9]+.[0-9]+.[0-9]+*' # tag pattern on pub.dev: 'v{{version}'

# Publish using custom workflow
jobs:
  publish:
    permissions:
      id-token: write # Required for authentication using OIDC
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up dart
        uses: dart-lang/setup-dart@fedb1266e91cf51be2fdb382869461a434b920a3

      - name: Set up Flutter
        uses: subosito/flutter-action@v2

      - name: Install dependencies
        run: dart pub get

      - name: Build source
        run: dart run build_runner build
        
      - name: Publish (dry run) 
        run: dart pub publish --dry-run

      - name: Publish
        run: dart pub publish --force